body {
  box-sizing: border-box;
}

.border-left {
  border-left: 1px solid lightgray
}

.aboutbox-height {
  height: 400px;
}

.border {
  border: 1px solid;
}

.bg-gray {
  background-color: #f7f9fc;
}

.bg-white {
  background-color: white;
}

.bg-sky {
  background-color: #6fbaf8;
}

.font-sky {
  color: #6fbaf8;
}

.font-white {
  color: white;
}

.font-l {
  font-size: 70px;
}

.font-s {
  font-size: 13px;
}

.font-bold-l {
  font-weight: 700;
}

.font-bold-m {
  font-weight: 600;
}

.font-bold-s {
  font-weight: 500;
}

.icon-size {
  font-size: 50px;
}

.only-pc {
  display: block;
}

@media screen and (max-width:768px) {
  .border-left {
    border-left: 0px solid lightgray
  }

  .font-s {
    font-size: 15px;
  }

  .aboutbox-height {
    height: 350px;
  }

  .icon-size {
    font-size: 70px;
  }

  .only-pc {
    display: none;
  }
}
